<!DOCTYPE html>
<html>
  <head>
      <% include ../views/tmp/header %>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <!-- <h1>Photos</h1>
    <p>Photo application</p>

     <img src="images/04.jpg"> -->



 
  </body>
</html>
