<!DOCTYPE html>
<html>
<head>
    <% include ../views/tmp/header %>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

<form action="/upload" method="POST" enctype="multipart/form-data">

    User Name:<input type="text"><br>
    Choose image to load:  <input type="file" name="photo"><br>
    <button type="submit">Upload image</button>
 


</form> 
</body>
</html>